	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2020 09:44
  	*/


.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;


}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #ff5600;
}


.header-area .main-header .main-menu ul li a.button1:hover{
  color: white;
  background-color:  #ff5600; 
   
  
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../onts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-restaurant:before { content: "\f100"; }
.flaticon-tools-and-utensils-1:before { content: "\f101"; }
.flaticon-hat:before { content: "\f102"; }